In [1]:
import os

In [8]:
os.chdir('/Users/Jessica/OneDrive/Desktop/Grad_School/Fall 2021/NURS 6806 Computer Science/exerPythFileRename/FileRename')

In [9]:
print(os.getcwd())

c:\Users\Jessica\OneDrive\Desktop\Grad_School\Fall 2021\NURS 6806 Computer Science\exerPythFileRename\FileRename

In [11]:
for f in os.listdir():
    print(f)

Earth - Our solar system - #4.txt
Jupiter - Our solar system - #6.txt
Mars - Our solar system - #5.txt
Mercury - Our solar system - #2.txt
Neptune - Our solar system - #8.txt
Pluto - Our solar system - #10.txt
Saturn - Our solar system - #7.txt
The Sun - Our solar system - #1.txt
Uranus - Our solar system - #9.txt
Venus -Our solar system - #3.txt

In [13]:
for f in os.listdir():
    print(os.path.splitext(f))

('Earth - Our solar system - #4', '.txt')
('Jupiter - Our solar system - #6', '.txt')
('Mars - Our solar system - #5', '.txt')
('Mercury - Our solar system - #2', '.txt')
('Neptune - Our solar system - #8', '.txt')
('Pluto - Our solar system - #10', '.txt')
('Saturn - Our solar system - #7', '.txt')
('The Sun - Our solar system - #1', '.txt')
('Uranus - Our solar system - #9', '.txt')
('Venus -Our solar system - #3', '.txt')

In [14]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f)
    print(file_name)

Earth - Our solar system - #4
Jupiter - Our solar system - #6
Mars - Our solar system - #5
Mercury - Our solar system - #2
Neptune - Our solar system - #8
Pluto - Our solar system - #10
Saturn - Our solar system - #7
The Sun - Our solar system - #1
Uranus - Our solar system - #9
Venus -Our solar system - #3

In [17]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f)
    print(file_name.split('-'))

['Earth ', ' Our solar system ', ' #4']
['Jupiter ', ' Our solar system ', ' #6']
['Mars ', ' Our solar system ', ' #5']
['Mercury ', ' Our solar system ', ' #2']
['Neptune ', ' Our solar system ', ' #8']
['Pluto ', ' Our solar system ', ' #10']
['Saturn ', ' Our solar system ', ' #7']
['The Sun ', ' Our solar system ', ' #1']
['Uranus ', ' Our solar system ', ' #9']
['Venus ', 'Our solar system ', ' #3']

In [20]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f)

    f_title, f_course, f_num = file_name.split('-')

In [22]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f)

    f_title, f_course, f_num = file_name.split('-')
    print(f_title)

Earth
Jupiter
Mars
Mercury
Neptune
Pluto
Saturn
The Sun
Uranus
Venus

In [23]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f)

    f_title, f_course, f_num = file_name.split('-')
    print(f_course)

 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system
 Our solar system
Our solar system

In [24]:
for f in os.listdir():
    file_name, file_ext = os.path.splitext(f)

    f_title, f_course, f_num = file_name.split('-')
    print(f_num)

 #4
 #6
 #5
 #2
 #8
 #10
 #7
 #1
 #9
 #3

In [32]:
for f in os.listdir():
    f_name, f_ext = os.path.splitext(f)

    f_title, f_course, f_num = f_name.split('-')
    
    print('{}-{}-{}{}'.format(f_num, f_course, f_title, f_ext))

 #4- Our solar system -Earth .txt
 #6- Our solar system -Jupiter .txt
 #5- Our solar system -Mars .txt
 #2- Our solar system -Mercury .txt
 #8- Our solar system -Neptune .txt
 #10- Our solar system -Pluto .txt
 #7- Our solar system -Saturn .txt
 #1- Our solar system -The Sun .txt
 #9- Our solar system -Uranus .txt
 #3-Our solar system -Venus .txt

In [34]:
for f in os.listdir():
    f_name, f_ext = os.path.splitext(f)

    f_title, f_course, f_num = f_name.split('-')

    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()
    
    print('{}-{}-{}{}'.format(f_num, f_course, f_title, f_ext))

#4-Our solar system-Earth.txt
#6-Our solar system-Jupiter.txt
#5-Our solar system-Mars.txt
#2-Our solar system-Mercury.txt
#8-Our solar system-Neptune.txt
#10-Our solar system-Pluto.txt
#7-Our solar system-Saturn.txt
#1-Our solar system-The Sun.txt
#9-Our solar system-Uranus.txt
#3-Our solar system-Venus.txt

In [35]:
for f in os.listdir():
    f_name, f_ext = os.path.splitext(f)

    f_title, f_course, f_num = f_name.split('-')

    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()[1:]
    
    print('{}-{}-{}{}'.format(f_num, f_course, f_title, f_ext))

4-Our solar system-Earth.txt
6-Our solar system-Jupiter.txt
5-Our solar system-Mars.txt
2-Our solar system-Mercury.txt
8-Our solar system-Neptune.txt
10-Our solar system-Pluto.txt
7-Our solar system-Saturn.txt
1-Our solar system-The Sun.txt
9-Our solar system-Uranus.txt
3-Our solar system-Venus.txt

In [36]:
for f in os.listdir():
    f_name, f_ext = os.path.splitext(f)

    f_title, f_course, f_num = f_name.split('-')

    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()[1:].zfill(2)
    
    print('{}-{}-{}{}'.format(f_num, f_course, f_title, f_ext))

04-Our solar system-Earth.txt
06-Our solar system-Jupiter.txt
05-Our solar system-Mars.txt
02-Our solar system-Mercury.txt
08-Our solar system-Neptune.txt
10-Our solar system-Pluto.txt
07-Our solar system-Saturn.txt
01-Our solar system-The Sun.txt
09-Our solar system-Uranus.txt
03-Our solar system-Venus.txt

In [38]:
for f in os.listdir():
    f_name, f_ext = os.path.splitext(f)

    f_title, f_course, f_num = f_name.split('-')

    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()[1:].zfill(2)
    
    print('{}-{}{}'.format(f_num, f_title, f_ext))

04-Earth.txt
06-Jupiter.txt
05-Mars.txt
02-Mercury.txt
08-Neptune.txt
10-Pluto.txt
07-Saturn.txt
01-The Sun.txt
09-Uranus.txt
03-Venus.txt

In [39]:
for f in os.listdir():
    f_name, f_ext = os.path.splitext(f)

    f_title, f_course, f_num = f_name.split('-')

    f_title = f_title.strip()
    f_course = f_course.strip()
    f_num = f_num.strip()[1:].zfill(2)
    
    new_name = '{}-{}{}'.format(f_num, f_title, f_ext)

    os.rename(f, new_name)